*{
    padding: 0;
    margin: 0;
}
header{
    width: 550px;
    background-color:#23569b;
    padding-bottom: 45%;
    padding-top: 3px;
    overflow: hidden;
    
}
.logo{
    padding-top: 100px;
}
.logo_text{
    color:white;
    margin-top: 10px;
   /* padding-top: 100px;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 125%;
}
.main, .logo, .menubar, .site_content, .footer {
	margin-left: auto;
	margin-right: auto;
}
.menubar {
	width: 900px;
    height: 46px;
    
}
ul.menu {
    margin: 100px 0 0 25%;
    
}
ul.menu li {
    display: block;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 35px;
}

ul.menu li a{
    color:white;
    text-decoration-line: none;
}
ul.menu li.selected a {
	color: #aeb002;
}
ul.menu li a:hover {
	color: #e4ec04;
}
.content{
	width: 880px;
	overflow: hidden;
	margin: 20px auto 0 auto;
	background-color: white;
}

